<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCLIZPAibTIQG_J0WGxWi_Frqull5Lv4BQ</string>
	<key>GCM_SENDER_ID</key>
	<string>596418964902</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.marwix127.stronger</string>
	<key>PROJECT_ID</key>
	<string>stronger-f7c9c</string>
	<key>STORAGE_BUCKET</key>
	<string>stronger-f7c9c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:596418964902:ios:fff1cb0eb0bd70b2447367</string>
</dict>
</plist>